body{
	padding:0px;
	margin: 0px;
}
div#slides{
	overflow: hidden;
	background-color: #111;
}

div#slides .slides-container{
	display: inline-block;
	margin: 0px;
	padding:0px;
	overflow: hidden;
}

div#slides .slides-container li{
	width: 100%;
	height: 100%;
	list-style: none;
}

div#slides .slides-container li img{
	display: block;
  	width: 100vw;
  	height: 100vh;
  	object-fit: cover;
	z-index: 1;
}

div#slides .slides-container li iframe{
	width: 100%;
	height: 100%;
	z-index: 1;
	border: none;
	overflow: hidden;
}

div#slides .slides-container li .content-container{
	z-index: 2;
}

@-webkit-keyframes slideOut {
    from{right: 0px;}
    to{right: 2000px;}
}

@-webkit-keyframes slideIn {
    from{left: 2000px;}
    to{left: 0px;}
}

@-webkit-keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

@-webkit-keyframes fadeOut {
    from{opacity: 1;}
    to{opacity: 0;}
}


li.prev_slide{
	position: absolute;
	right: 5000px;
	-webkit-animation: fadeOut 1.5s
}

li.next_slide{
	position: absolute;
	left: 5000px;

}

li.active_slide{
	position: absolute;
	left: 0px;
	-webkit-animation: fadeIn 1.5s
}
