html{
	font-family: helvetica;
}

.container{
		
}

.row{
	margin-top: 10px;
	margin-bottom: 30px;
}

.container input{
	background-color: #FFF;
}

.login_button{
	
}

.login_container{
	margin-top: 5%;
}


.login_box {
	border-radius: 25px;
	border: 2px solid #292929;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.error{
	color: #ff281e;
	font-weight: bold;
}

.slide_preview{
	display: none;
	position: relative;
	color: #292929;
	font-weight: 900;
	background-size: cover;
	width: 100%;
	min-height: 500px;

}

.slide_preview .content_container, #slides .content_container{
	display: inline-block;
	position: absolute;
	right: 5%;
	bottom: 15%;
	padding: 0px 15px 10px 15px;
	color: #fff;
	text-align: left;
	background-color: rgba(0, 0, 0, .7);
}

.content_container h1{
	font-size:  48px;
}

.content_container p{
	font-size:  36px;
}


div#slide_options{
	text-align: center;
}

div#slide_options input.selected{
	background-color: #33C3F0;
	color: #FFF;
}

form#slide_form .row.optional{
	display: none;
}

form#slide_form .row.optional.activated{
	display: block;
}

.index_container {
	margin-top: 0;
	margin: 0 auto;
	border: 1px solid black;
	padding: .5em 1em;
}

.index_container table {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

.index_container td {
	padding: .2em .5em .2em .5em;
	vertical-align: center;
	text-align: center;
}

.index_container th {
	padding: .2em .5em .2em .5em;
	vertical-align: center;
	text-align: center;
}

.users_container {
	margin: 0 auto;
	border: 1px solid black;
	padding: .25em 1em;
	display: table;
}

.users_container h1 {
	text-align: center;
	margin-bottom: 0.5em;
}

.users_container form {
	margin-top: 1.5em;
}

.users_container table {
	margin-left: auto; 
    margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

.users_container td {
	border: 1px dashed black;
	padding: 0em 1em 0em 1em;
	vertical-align: middle;
	text-align: center;
}

.users_container th {
	border: 1px dashed black;
	padding: .2em .5em .2em .5em;
	text-align: center;
}

div#navigation{
	text-align: center;
}

div#navigation a{
	text-decoration: none;
}

h1.title{
	float: left;
	margin-top: 0px;
}

div#response_message, .response_message{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

div#bottom-nav{
	text-align: center;
	margin-top: 20px;
}

div#bottom-nav a{
	font-size: 20px;
	margin-right: 10px;
}

p.key-explain{
	font-size: 16px;
	font-weight: bold;
}

div.columns input, div.columns textarea{
	max-width: 104%;

}
