html{
font-family: helvetica;
}

.row{
	margin-top: 10px;
	margin-bottom: 10px;
}

.login_input{
	margin-bottom: 30px;
}

.login_button{
	
}

.login_container{
	margin-top: 10%;
}

<<<<<<< HEAD
.login_box {
	border-radius: 25px;
	border: 2px solid black;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
=======
.error{
	color: red;
	font-weight: bold;
>>>>>>> 94575a583f4b733ac335c8d351a224a0cc33f4e9
}
